.latex-toolbar {
  position: absolute;
  z-index: 99; /* Asegura que esté por encima del editor */
  background-color: var(--background-secondary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 5px;
  transition: opacity 0.1s ease-in-out;
}

.latex-toolbar.hidden {
  display: none;
  opacity: 0;
}

/* Estilos para el nuevo panel de vista previa */
.latex-preview-panel {
  position: absolute;
  z-index: 98; /* Ligeramente por debajo de la barra de herramientas */
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s ease-in-out;
  max-width: 80%; /* Evita que ocupe toda la pantalla */
}

/* El panel también usará la clase 'hidden' para ocultarse */
.latex-preview-panel.hidden {
  display: none;
  opacity: 0;
}
